<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>GradeController</servlet-name>
        <servlet-class>tn.iit.controller.GradeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NiveauController</servlet-name>
        <servlet-class>tn.iit.controller.NiveauController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnseignantController</servlet-name>
        <servlet-class>tn.iit.controller.EnseignantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartementController</servlet-name>
        <servlet-class>tn.iit.controller.DepartementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatiereController</servlet-name>
        <servlet-class>tn.iit.controller.MatiereController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeanceController</servlet-name>
        <servlet-class>tn.iit.controller.SeanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authentification</servlet-name>
        <servlet-class>tn.iit.controller.authentification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>tn.iit.controller.logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GradeController</servlet-name>
        <url-pattern>/gradeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NiveauController</servlet-name>
        <url-pattern>/NiveauController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnseignantController</servlet-name>
        <url-pattern>/EnseignantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartementController</servlet-name>
        <url-pattern>/DepartementController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatiereController</servlet-name>
        <url-pattern>/MatiereController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeanceController</servlet-name>
        <url-pattern>/SeanceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authentification</servlet-name>
        <url-pattern>/authentification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
